<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">net.ucanaccess.jdbc.UcanaccessDriver</property>
        <property name="hibernate.connection.url">jdbc:ucanaccess://C:\Users\phamt\Desktop\Hibernate-Lib\fit_copy.accdb;</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Tuan1991apha</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <mapping class="model.FitArticle"/>
        <mapping class="model.overview.CodeList"/>
        <mapping class="model.edit.Code"/>
        <mapping class="model.overview.HeaderList"/>
        <mapping class="model.edit.InfoListEntry"/>
        <mapping class="model.edit.TextEntry"/>
        <mapping class="model.edit.FitArticleElement"/>
        <mapping class="model.edit.WebLinkEntry"/>
      	<mapping class="model.ContactPartner"/>
    </session-factory>
    
</hibernate-configuration>
















































































































































































































































